body {
    background-color: black;
    background-image: url('Untitled.jpeg');
    background-attachment: fixed;  
    background-size: cover;
    color: white; /* Set text color to white */
}

.login-container {
    float: left;
}

.input {
    position: flex;
    right: 0;
    width: 50%; /* Adjust as needed */
}
/* Ensure all text elements are white */
h1, p, {
    color: white;
}
.email .password {
    color: black;
}


