body {
    background-color: black;
    background-image: url('Untitled.jpeg');
    background-attachment: fixed;  
    background-size: cover;
}
.login-container {
    float: left;
}

.input {
    position: flex;
    right: 0;
    width: 50%; /* Adjust as needed */
}